.heading {
    display: flex;
    align-items: center;
}

.column {
    width: 33.3333%;
    padding: 8px;
    transition: background-color 0.25s;

    &DraggedOver {
        background-color: lighten(#1890ff, 40%);
    }

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.panel {
    display: flex;
    width: 100%;

    @media screen and (max-width: 900px) {
        display: block;
    }
}


.dragItem {
    user-select: none;
    margin: 0 0 16px 0;
    box-shadow: none;
    transition: box-shadow 0.25s;

    &IsDragging {
        box-shadow: 0px 5px 37px -6px rgba(0,0,0,0.61);
    }
}
