body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification-wrap {
  overflow: hidden;
  max-height: 0;
}

.notification-enter{
  max-height: 0;
}
.notification-exit{
  max-height: 0;
}

.notification-enter-done,
.notification-exit-done {
  transition: max-height 500ms;
}
.notification-enter-done {
  max-height: 100px;
}

.notification-exit-done  {
  max-height: 0;
}


.translate-enter {
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.translate-enter.translate-enter-active {
  opacity: 1; 
}

.translate-exit {
  opacity: 1; 
  transition: opacity 0.2s ease-out;
}

.translate-exit.translate-exit-active {
  opacity: 0;
}

.site-layout-content {
  position: relative;
}

.task .ant-collapse-header {
  display: flex;
}

.task .ant-collapse-header p {
  padding-right: 10px;
}

.task .ant-collapse-extra {
  flex-shrink: 0;
  margin-left: auto;
}

